<title>Blinking Text</title>
<hr>
<applet code="Blink.class" width=300 height=100>
<param name=lbl value="Java is the next best thing to sliced bread!">
<param name=speed value="4">
</applet>
<hr>
<a href="Blink.java">The source.</a>


